@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
	background-color: #f4ead5;
	font-family: "Roboto", sans-serif !important;
}

body.no-scroll {
	overflow: hidden;
}
.container {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 90px;
	row-gap: 40px;
}

.user {
	align-items: center;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	text-align: center;
	width: 100%;
}
.wrapper {
	background-color: #fffbe9;
	border-radius: 10px;
	box-shadow: 0 0 80px rgba(0, 0, 0, 0.15);
	padding: 20px 5px;
	width: 70%;
	word-wrap: break-word;
}
.wrapper img {
	border-radius: 100%;
}
.wrapper p {
	color: rgb(166, 166, 166);
	font-size: 0.9rem;
	margin-top: 10px;
	margin-bottom: 5px;
}
.wrapper h1 {
	font-size: 1.2rem;
	font-weight: bold;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}

.full-profile button:hover {
	background-color: #c58940;
	color: #fffbe9;
}
.full-profile button {
	background-color: #fffbe9;
	border: 2px solid #c58940;
	border-radius: 8px;
	color: #c58940;
	cursor: pointer;
	font-weight: bold;
	letter-spacing: 1px;
	margin-top: 5px;
	padding: 2px 12px;
	transition: 0.3s;
}
.wrapper .profile-toggler-btn {
	background-color: #fffbe9;
	border: 2px solid #0089ab;
	border-radius: 8px;
	color: #0089ab;
	font-weight: bold;
	margin-top: 10px;
	padding: 5px 12px;
	transition: 0.3s;
}

.none {
	display: none;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

div.active {
	animation: fadeIn 0.5s linear;
	background-color: hsla(0, 0%, 10%, 0.8);
	box-sizing: border-box;
	height: 100vh;
	justify-content: center;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	overflow: hidden;
}

div.active > .full-profile {
	background-color: #fffbe9;
	border-radius: 10px;
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
	max-width: 400px;
	padding: 20px;
	text-align: left;
	width: 68%;
}
.full-profile img {
	border-radius: 8px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	margin-bottom: 20px;
}

.full-profile h1 {
	width: 100%;
	height: 30px;
}

.full-profile p {
	color: rgb(76, 72, 72);
}

.wrapper .profile-toggler-btn:hover {
	background-color: #0089ab;
	color: #fffbe9;
}
.btn-section {
	display: flex;
	justify-content: center;
	gap: 5px;
}

.btn-section button {
	background-color: #fffbe9;
	border: none;
	cursor: pointer;
}
.btn-section button:hover i {
	color: rgb(57, 231, 57);
	border-top: 2px solid rgb(57, 231, 57);
}

.btn-section button i {
	color: #0089ab;
	font-size: 1.5rem;
	transition: color 0.3s, border-top 0.1s;
}

@media screen and (min-width: 576px) {
	.user {
		width: 50%;
	}
	.wrapper {
		width: 85%;
	}
}
@media screen and (min-width: 992px) {
	.user {
		width: 30%;
	}
}
@media screen and (min-width: 1200px) {
	.user {
		width: 25%;
	}
}
